{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.codeTva) }}

            <button type="reset">Annuler</button>
            <button type="submit" class="btn btn-primary">{{ btnName }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
