{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Liste de fournisseur</h1>
        </div>


    </div>
    <div class="row mt-4 mb-4">
        <div class="col-12 col-md-12">
            <a class="btn btn-primary  ml-2 float-right" data-toggle="collapse" href="#search-fournisseur" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{'body.filter'|trans }}</a>

            <a class="btn btn-primary btn float-right" href="{{ path('supplier-add') }}">{{'body.add'|trans }}</a>

        </div>

    </div>

    <div class="row">
        <div class="collapse  {{ show }} col-12" id="search-fournisseur" >
            {{ form_start(form) }}
            {{ form_row(form.name) }}
                <button type="submit" class="btn btn-outline-dark  col-12 mb-2 mt-2 col-md-2  ">{{'body.search'|trans }}</button>
            {{ form_end(form) }}
            </form>
        </div>

    </div>


    <div class="row">

        {% for supplier in suppliers %}
            {% include "supplier/supplier-card.html.twig" with {
                id: supplier.id,
                name: supplier.name,
                phone: supplier.phone,
                codeTva: supplier.codeTva
            } only %}
        {% endfor %}
    </div>
{% endblock %}
