{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class=" title col-12 col-md-6 mr-auto ml-auto ">
            <h1> {{ mode }} Produit</h1>
        </div>
    </div>

    <div class="col-12 col-md-6 mr-md-auto ml-md-auto mr-0 ml-0">
        {{ form_start(form) }}
        {{ form_row(form.label) }}
        {{ form_row(form.prix) }}

        <button type="submit" class="btn btn-primary float-right">{{ mode }}</button>
        <button type="reset" class="btn btn-secondary float-right mr-2">Annuler</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
